<!-- templates/prices/price_list.html -->
{% extends 'base.html' %}

{% block content %}
<div class="d-flex py-3 mb-4">
    <h4 class="fw-bold"><span class="text-muted fw-light">Price/</span> List</h4>

    <a href="{% url 'create_price' %}" role="button" class="btn btn-primary ms-auto">Create Price</a>

</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-nowrap table-hover align-middle" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Duration (Month)</th>
                                <th>Price</th>
                                <th>Created At</th>
                                <th>Last Modifed</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for price in prices %}
                            <tr>
                                <td>{{ price.name }}</td>
                                <td>{{ price.duration }}</td>
                                <td>{{ price.price }}</td>
                                <td>{{ price.created_at | date:"M j, Y, g:i a" }}</td>
                                <td>{{ price.updated_at | date:"M j, Y, g:i a" }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                          <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu" style="">
                                            <a href="{% url 'edit_price' price.id %}" role="button" class="dropdown-item"><i class='bx bx-edit me-1'></i>Edit</a>
                                            <form id="delete-form" action="{% url 'delete_price' price.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="button" class="text-danger dropdown-item"><i class='bx bx-trash me-1'></i>Delete</button>
                                            </form>
    
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $('.delete-btn').on('click', function(){
        event.preventDefault()

        Swal.fire({
            text: "Are you sure you want to delete it?",
            icon: "warning",
            background: 'var(--bs-body-bg)',
            color: 'var(--bs-body-color)',
            showCancelButton: true,
            confirmButtonColor: 'var(--bs-danger)',
            cancelButtonColor: "var(--bs-body-color)",
            confirmButtonText: "Delete",
        }).then((result) => {
            if (result.isConfirmed) {
                const form = $(this).closest('form')

                $.ajax({
                    url: $(form).attr('action'),
                    type: 'POST',
                    data: $(form).serialize(),
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            Swal.fire({
                                text: response.message,
                                icon: "success",
                                background: 'var(--bs-body-bg)',
                                color: 'var(--bs-body-color)',
                                confirmButtonColor: 'var(--bs-primary)',
                                confirmButtonText: 'Ok, got it!'
                            }).then((result) => {
                                window.location.href = response.redirectUrl;
                            });
                        } 
                    },
                });
            }
        });
    })

    $.fn.dataTable.moment('MMM D, YYYY, h:mm a');

    $('table').dataTable({
        order: [[4, 'desc']],
    })

</script>
{% endblock %}